body {
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

a {
    color: #3366bb;
    text-decoration: none;
    margin-right: 20px;

    padding: 7px 13px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

canvas {
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;

    box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    -moz-box-shadow: 1px 1px 5px #999;
    -o-box-shadow: 1px 1px 5px #999;
    -ms-box-shadow: 1px 1px 5px #999;

    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
img {
    visibility: hidden;
    display: block;
    max-width:600px;
    max-height:400px;
    width: 600px;
    height: 400px;
    position: fixed;
    bottom:50%
}
#canvases {
    width:  600px;
    position: fixed;
    bottom: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#footer {
    width:  620px;
    position: fixed;
    bottom: 50px;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#footer span {
    margin-right: 25px;
    font-weight: bold;
}
#footer1 {
    width:  75px;
    position: fixed;
    bottom: 10px;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#photos {
    width: 508px;
    position: fixed;
    top: 20px;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#photos span {
    margin-right: 25px;
    font-weight: bold;
}




#reset {
    text-shadow: none;
    color: #333;
    border: 1px solid #aaa;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, #eee, #ddd);
    background-image: linear-gradient(to bottom, #eee, #ddd);
}

#reset:active {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
    background-image: -webkit-linear-gradient(top, #ddd, #eee);
    background-image: -moz-linear-gradient(top, #ddd, #eee);
    background-image: -o-linear-gradient(top, #ddd, #eee);
    background-image: linear-gradient(to bottom, #ddd, #eee);
}

/*
#f_gry, #f_vgt, #f_crv, #f_rbw, #f_per {
    color: #fff;
    border: 1px solid #3e8b2d;
    background-color: #62c462;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
}

#f_gry:active,#f_vgt:active,#f_crv:active,#f_rbw:active,#f_per:active{
    background-color: #51a351;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51a351), to(#62c462));
    background-image: -webkit-linear-gradient(top, #51a351, #62c462);
    background-image: -moz-linear-gradient(top, #51a351, #62c462);
    background-image: -o-linear-gradient(top, #51a351, #62c462);
    background-image: linear-gradient(to bottom, #51a351, #62c462);
}
*/

#f_gry, #f_per, #f_stt, #f_tnt {
    color: #fff;
    border: 1px solid #3e8b2d;
    background-color: #62c462;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
}

#f_gry:active,#f_per:active,#f_stt:active,#f_tnt:active{
    background-color: #51a351;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51a351), to(#62c462));
    background-image: -webkit-linear-gradient(top, #51a351, #62c462);
    background-image: -moz-linear-gradient(top, #51a351, #62c462);
    background-image: -o-linear-gradient(top, #51a351, #62c462);
    background-image: linear-gradient(to bottom, #51a351, #62c462);
}

#photo1,#photo2,#photo3,#photo4, #photo5{
    color: #fff;
    border: 1px solid #2f96b4;
    background-color: #5bc0de;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
}

#photo1:active,#photo2:active,#photo3:active,#photo4:active,#photo5:active {
    background-color: #2f96b4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f96b4), to(#5bc0de));
    background-image: -webkit-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: -moz-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: -o-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: linear-gradient(to bottom, #2f96b4, #5bc0de);
}


